h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}



.main-footer{
position:relative;
padding:110px 0px 0px;
background-color: #f4f5f7;
background-repeat:repeat-x;
background-position:right bottom;
}

.main-footer .footer-widget{
position:relative;
margin-bottom:40px;
}

.main-footer .widgets-section{
position:relative;
padding-bottom:60px;
}

.main-footer .footer-widget h2{
position:relative;
font-size:22px;
font-weight:600;
color:#161c42;
line-height:1.2em;
margin-bottom:30px;
margin-top:25px;
text-transform:capitalize;
}

.main-footer .about-widget{
position:relative;
}

.main-footer .about-widget .logo {
position: relative;
margin-bottom: 15px;
width: 210px;
}
.main-footer .about-widget .text{
position:relative;
}

.main-footer .about-widget .text p{
position:relative;
color:#8a8d91;
font-size:15px;
line-height:1.7em;
margin-bottom:20px;
}

.main-footer .about-widget .text p:last-child{
margin-bottom:0px;
}

/* Footer List */

.main-footer .footer-list{
position:relative;
}

.main-footer .footer-list li{
position:relative;
margin-bottom:17px;
}

.main-footer .footer-list li a{
position:relative;
color:#8a8d91;
font-size:15px;
padding-left:15px;
-webkit-transition:all 300ms ease;
-ms-transition:all 300ms ease;
-o-transition:all 300ms ease;
-moz-transition:all 300ms ease;
transition:all 300ms ease;
}

.main-footer .footer-list li a:hover{
text-decoration:underline;
color:#ff6666;
}

.main-footer .footer-list li a:before{
position:absolute;
content:'\f105';
left:0px;
top:0px;
color:#8a8d91;
font-weight:800;
font-family: 'Font Awesome 5 Free';
}

/*Gallery Widget*/

.main-footer .gallery-widget{
position:relative;
max-width:350px;
}

.main-footer .gallery-widget .images-outer{
position:relative;
margin:0px -3px;
}

.main-footer .gallery-widget .image-box{
position:relative;
float:left;
width:33.333%;
padding:0px 5px;
margin-bottom:10px;
}

.main-footer .gallery-widget .image-box img{
position:relative;
display:block;
width:100%;
border-radius:4px;
-webkit-transition:all 300ms ease;
-ms-transition:all 300ms ease;
-o-transition:all 300ms ease;
-moz-transition:all 300ms ease;
transition:all 300ms ease;
}

.main-footer .gallery-widget .image-box img:hover{
opacity:0.70;   
}

/* Info List */

.main-footer .info-list{
position:relative;
}

.main-footer .info-list li{
position:relative;
color:#8a8d91;
font-size:15px;
line-height:1.8em;
margin-bottom:12px;
}

.main-footer .info-widget .social-links{
position:relative;
float:left;
padding:15px 0px;
}

.main-footer .info-widget .social-links li{
position:relative;
margin-right:8px;
display:inline-block;
}

.main-footer .info-widget .social-links li:last-child{
margin-right:0px;
}

.main-footer .info-widget .social-links li a{
position:relative;
color: #ffffff;
width:50px;
height:50px;
line-height:50px;
text-align:center;
border-radius:50%;
display:inline-block;
-webkit-transition:all 300ms ease;
-moz-transition:all 300ms ease;
-ms-transition:all 300ms ease;
-o-transition:all 300ms ease;
transition:all 300ms ease;
}

.main-footer .info-widget .social-links li.google a{
background-color:#dd4b39;
}

.main-footer .info-widget .social-links li.facebook a{
background-color:#4a6fbe;
}

.main-footer .info-widget .social-links li.twitter a{
background-color:#55acee;
}

.main-footer .info-widget .social-links li.instagram a{
background-color:#ea4c89;
}

.main-footer .info-widget .social-links li.vimeo a{
background-color:#1ab7ea;
}

.main-footer .footer-bottom{
position:relative;
padding:20px 0px;
border-top:1px solid #e5e5e5;
}

.main-footer .footer-bottom .footer-nav{
position:relative;
text-align:right;
}

.main-footer .footer-bottom .footer-nav li{
position:relative;
padding-right:10px;
margin-right:10px;
line-height:1.1em;
display:inline-block;
border-right:1px solid #8a8d91;
}

.main-footer .footer-bottom .footer-nav li:last-child{
padding-right:0px;
margin-right:0px;
border-right:none;
}

.main-footer .footer-bottom .footer-nav li a{
position:relative;
color:#8a8d91;
font-size:15px;
-webkit-transition:all 300ms ease;
-moz-transition:all 300ms ease;
-ms-transition:all 300ms ease;
-o-transition:all 300ms ease;
transition:all 300ms ease;
}

.main-footer .footer-bottom .footer-nav li a:hover{
color:#ff6666;
text-decoration:underline;
}